.tabTrigger {
  color: #a1a1aa;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #a1a1aa;

  &[data-state="active"],
  &:hover {
    color: var(--color-burgundy);
    border-bottom: 1px solid var(--color-burgundy);
  }
}